*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 106.25%;
}

body {
    font-family: acumin-pro, sans-serif;
    color: #2d2e2f;
    margin: 0;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 2em;
}

.app__title {
    font-size: 2.3rem;
    margin: 0;
}

.app__desc {
    color: #757482;
    margin: .5em 0 2em;
    text-align: center;
}

.app__input {
    font-family: acumin-pro, sans-serif;
    outline: none;
    width: 19em;
    height: 50px;
    max-width: 100%;
    font-weight: 600;
    color: #4d4e4f;
    font-size: 14px;
    padding: 0 20px;
    border: 3px solid #2d2e2f;
    border-radius: 5px;
}

.app__input:focus {
    border-color: #655efe;
}

.app__input::placeholder {
    font-weight: 500;
}

.app__error-msg {
    display: none;
}

.app__error-msg--show {
    display: block;
    font-size: 14px;
    text-align: center;
    color: #e03227;
    margin-top: 4px;
    margin-bottom: 0;
}

.app__button {
    font-family: acumin-pro, sans-serif;
    cursor: pointer;
    outline: none;
    letter-spacing: .03em;
    margin: 1em 0;
    padding: 0 20px;
    background-color: #655efe;
    font-size: 14px;
    font-weight: 600;
    height: 48px;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.app__button:active {
    box-shadow: 0 0 0 1px #655efe;
}

.modal {
    border: none;
    padding: 0.5em;
    border-radius: 8px;
    top: 0px;
    bottom: 0px;
}

.modal::backdrop {
    background-color: rgba(95, 97, 106, 0.5);
    backdrop-filter: blur(2px);
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2em .6em .6em;
}

.modal__illustr {
    align-self: center;
    max-width: 100%;
    height: auto;
}

.modal__result {
    text-align: center;
    margin: .8em 0 0;
}

.modal__button {
    font-size: 14px;
    cursor: pointer;
    outline: none;
    width: fit-content;
    letter-spacing: .03em;
    margin: 2em auto 0;
    font-weight: 700;
    color: #2d2e2f;
}

.modal__button:hover {
    color: #757482;
}

.result {
    color: #655efe;
}